body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 23px;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  
}


/* Header */
header {
  max-width: 1200px;
  margin: 0 auto;
  top: -4px;
  left: 0;
  right: 0;
  z-index: 100;
  position: absolute;
}

header .container {
  display: flex;
  justify-content: space-between;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: normal;
}

.logo-name {
  margin: 0 ;
  padding:  16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
}

.header-list li {
  display: inline;
  margin-left: 55px ;
}

.header-list li a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: white;
  text-decoration: none;
}

#search-icon {
  position: relative;
  top: 10px;
}

.signIn-button {
  display: inline-block;
  padding: 10px 23px ;
  background: none;
  color: white;
  font-family: 'Roboto' sans-serif;
  font-size: 23px;
  font-weight: 200;
  border: 2px solid #cd6326;
  border-radius: 5px;
  
}


/* Survival */
.survival {
  position: relative;
  width: 100%;
  height: 780px;
  margin: 0 auto;
  background: url(assets/img/hero.svg) no-repeat center top / cover;
}

.survival .main-text {
  position: absolute;
  width: 274px;
  font-family: 'Open Sans' sans-serif;
  top: 160px;
}

.main-text .title-survival {
  margin-bottom: 51px;
  font-style: normal;
  color: #cd6326;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
}

.main-text .cite{
  margin-bottom: 49px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.orange-button {
  padding: 16px 42px;
  display: inline-block;
  background-color: #cd6326;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  border: none;
  border-radius: 5px;
  
}

/* Latest-articles */

.latest-articles {
  display: flex;
  flex-direction: column;
  height: 900px;  
  margin: 0;
  text-align: center;
  background-color: #CCCCCC;
}

.latest-articles .title {
  margin: 0;
  margin-top: 120px;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
}

.latest-articles .subtitle {
  margin: 0;
  margin-top: 20px;
  color: #666666;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-top: 120px;
}

.article {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 300px;
  height: 360px;
  margin: 30px;
  background: url("assets/img/deer.svg") no-repeat center / cover;
}

.description {
  margin-bottom: 40px;
}

.article-title {
  box-sizing: border-box;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 10px;
}

.article-subtitle {
  box-sizing: border-box;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
}



.slider-button {
  width: 30px;
  min-height: 45px;
  margin: 30px;
  border: none;
  border: 0;
  background: url(assets/img/slider-button-left.svg) no-repeat center;
}

#right {
  background: url(assets/img/slider-button-right.svg) no-repeat center;
}

/* get-notify */
.get-notify {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 468px;  
  margin: 0;
  text-align: center;
  background-color: #CCCCCC;
}

.get-notify .container {
  margin-top: 67px;
}

.send-email {
  display: flex;
  align-items: center;
}

.email-input {
  box-sizing: border-box;
  width: 540px;
  height: 60px;
  padding-left: 15px;
  font-family: Roboto;
  color: #666666;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  background: none;
  border: 1px solid #666666;
  outline: none;
}

.email-input:focus {
  border: 1px solid #666666;
  outline: none;
}

.send-email .orange-button {
  height: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}